<!DOCTYPE html>
<html>
<head>
	<title>List Book</title>
</head>
<body>
<div class="container">
	<div class = "d-flex mt-3 ">
		<h2 class="p-2 mr-auto">List Book</h2>
		<div class="p-2 ">
			<form class="form-inline">
				<input class="form-control mr-sm-2" type="text" placeholder="Search book" ng-model="searchBook">
			</form>
		</div>
		<div class="p-2">
			<button type="button" class="p-2 btn btn-link btn-sm" data-toggle="modal" data-target="#addBook">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</div>
		<div class="p-2">
			<button type="button" class="p-2 btn btn-link btn-sm" >
				<i class="fa fa-refresh" aria-hidden="true" ng-click="refreshBook()"></i>
			</button>
		</div>
	</div>

	<table class="table table-hover">
		<thead>
		<tr>
			<th>#</th>
			<th>
				<a ng-click="sortBy('title')">Title</a>
				<i class="fa fa-caret-down" aria-hidden="true" ng-show="propertyName === 'title' && reverse"></i>
				<i class="fa fa-caret-up" aria-hidden="true" ng-show="propertyName === 'title' && !reverse"></i>
			</th>
			<th>
				<a ng-click="sortBy('price')">Price</a>
				<i class="fa fa-caret-down" aria-hidden="true" ng-show="propertyName === 'price' && reverse"></i>
				<i class="fa fa-caret-up" aria-hidden="true" ng-show="propertyName === 'price' && !reverse"></i>
			</th>
			<th>
				<a ng-click="sortBy('publicationDate')">Publication Date</a>
				<i class="fa fa-caret-down" aria-hidden="true" ng-show="propertyName === 'publicationDate' && reverse"></i>
				<i class="fa fa-caret-up" aria-hidden="true" ng-show="propertyName === 'publicationDate' && !reverse"></i>
			</th>
			<th>
				<a ng-click="sortBy('description')">Description</a>
				<i class="fa fa-caret-down" aria-hidden="true" ng-show="propertyName === 'description' && reverse"></i>
				<i class="fa fa-caret-up" aria-hidden="true" ng-show="propertyName === 'description' && !reverse"></i>
			</th>
			<th>
				<a ng-click="sortBy('author')">Author</a>
				<i class="fa fa-caret-down" aria-hidden="true" ng-show="propertyName === 'author' && reverse"></i>
				<i class="fa fa-caret-up" aria-hidden="true" ng-show="propertyName === 'author' && !reverse"></i>
			</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="book in filteredBooks | orderBy:propertyName:reverse | filter:searchBook">
			<td>{{book.id}}</td>
			<td>{{book.title}}</td>
			<td>${{book.price}}</td>
			<td>{{book.publicationDate | date:"dd/MM/yyyy"}}</td>
			<td>{{book.description}}</td>
			<td>{{book.authorFirstName}} {{book.authorLastName}}</td>
			<td>
				<a class="fa fa-pencil" aria-hidden="true" href="" data-toggle="modal" data-target="#updateBook{{$index}}"></a>
				<div class="modal fade" id="updateBook{{$index}}">
					<div class="modal-dialog modal-lg modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h4>Edit Book {{book.id}}</h4>
								<button class="close" data-dismiss="modal">x</button>
							</div>
							<div class="modal-body">
								<form name="myForm" novalidate>
									<div class="form-group">
										<label for="title">Title</label>
										<input type="text" class="form-control" id="edit_title" name="edit_title" ng-model="book.title" autocomplete="nope" required>
										<span style="color:red" ng-show="myForm.edit_title.$invalid">
											<span ng-show="myForm.edit_title.$error.required">Title is required.</span>
										</span>
									</div>
									<div class="form-group">
										<label for="price">Price</label>
										<input type="number" class="form-control" id="edit_price" name="edit_price" ng-model="book.price" autocomplete="nope" required>
										<span style="color:red" ng-show="myForm.edit_price.$invalid">
											<span ng-show="myForm.edit_price.$error.required">Price is required.</span>
										</span>
									</div>

									<div class="form-group">
										<label for="publicationDate">Publication Date</label>
										<input type="date" class="form-control" id="edit_publicationDate" name="edit_publicationDate" ng-model="book.publicationDate" autocomplete="nope" required>
										<span style="color:red" ng-show="myForm.edit_publicationDate.$invalid">
											<span ng-show="myForm.edit_publicationDate.$error.required">Publication date is required.</span>
										</span>
									</div>

									<div class="form-group">
										<label for="description">Description</label>
										<textarea type="text" class="form-control" id="edit_description" name="edit_description" ng-model="book.description" autocomplete="nope" ></textarea>
									</div>

									<div class="form-group">
										<label for="sel1">Select Author (select one):</label>
										<select class="form-control" id="author" name="author" ng-model="book.authorLastName" required>
											<option value="">- Select an author -</option>
											<option ng-repeat="author in authors" value="{{author.lastName}}" >{{author.firstName}} {{author.lastName}}</option>
										</select>
										<span style="color:red" ng-show="myForm.author.$invalid">
											<span ng-show="myForm.author.$error.required">Please select author.</span>
										</span>
									</div>

								</form>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateBook(book.id, book)" ng-disabled="myForm.edit_title.$invalid ||
  myForm.edit_price.$invalid || myForm.edit_publicationDate.$error.required || myForm.author.$error.required " >Save</button>
							</div>
						</div>
					</div>
				</div>
				&nbsp;
				<a class="fa fa-times fa-red" aria-hidden="true" href="" data-toggle="modal" data-target="#deleteBook{{$index}}"></a>
				<div class="modal fade" id="deleteBook{{$index}}">
					<div class="modal-dialog modal-lg modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Delete Book {{book.id}}</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body">
								Are you sure you want to delete book '{{book.id}}'?
							</div>

							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteBook(book.id)">Delete</button>
							</div>
						</div>
					</div>
				</div>
				&nbsp;
				<a class="fa fa-search" aria-hidden="true" href="" data-toggle="modal" data-target="#viewBook{{$index}}"></a>
				<div class="modal fade" id="viewBook{{$index}}">
					<div class="modal-dialog modal-lg modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h4>View Book {{book.id}}</h4>
								<button class="close" data-dismiss="modal">x</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="title">Title</label>
										<input type="text" class="form-control" id="view_title" name="view_title" ng-model="book.title" autocomplete="nope" readonly>
									</div>
									<div class="form-group">
										<label for="price">Price</label>
										<input type="number" class="form-control" id="view_price" name="view_price" ng-model="book.price" autocomplete="nope" readonly>
									</div>

									<div class="form-group">
										<label for="publicationDate">Publication Date</label>
										<input type="date" class="form-control" id="view_publicationDate" name="view_publicationDate" ng-model="book.publicationDate" autocomplete="nope" readonly>
									</div>

									<div class="form-group">
										<label for="description">Description</label>
										<textarea type="text" class="form-control" id="view_description" name="view_description" ng-model="book.description" autocomplete="nope" readonly></textarea>
									</div>
									<div class="form-group">
										<label for="author">Author</label>
										<input type="text" class="form-control" id="view_author" name="view_author" value="{{book.authorFirstName}} {{book.authorLastName}}" autocomplete="nope" readonly>
									</div>
								</form>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="float-left ">
		<label >Number per page: </label>
		<select ng-model="numPerPage" ng-click="changeNumPerPage(numPerPage)">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
		</select>
	</div>
	<ul class="pagination justify-content-end" >
		<li class="page-item"><a class="page-link" href="#/" ng-click="previousPage()">Prev</a></li>
		<li class="page-item" ng-repeat="x in [].constructor(totalPages) track by $index"><a class="page-link" href="#/" ng-click="filterBooks($index+1)">{{$index+1}}</a></li>
		<li class="page-item"><a class="page-link" href="#/" ng-click="nextPage()">Next</a></li>
	</ul>
</div>

</body>
</html>

<!-- Modal -->
<div class="modal fade" id="addBook" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Add Book </h4>
				<button class="close" data-dismiss="modal">x</button>
			</div>
			<div class="modal-body">
				<form name="myForm" novalidate>

					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" class="form-control" id="add_title" name="add_title" ng-model="book.title" autocomplete="nope" placeholder="Enter the title" required>
						<span style="color:red" ng-show="myForm.add_title.$invalid">
					        <span ng-show="myForm.add_title.$error.required">Title is required.</span>
				      	</span>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" id="add_description" name="add_description" ng-model="book.description" autocomplete="nope" >
					</div>

					<div class="form-group">
						<label for="publicationDate">Publication Date</label>
						<input type="date" class="form-control" id="add_publication_date" name="add_publication_date" ng-model="today" autocomplete="nope" required>
						<span style="color:red" ng-show="myForm.add_publication_date.$invalid">
					        <span ng-show="myForm.add_publication_date.$error.required">Publication Date is required.</span>
					      </span>
					</div>

					<div class="form-group">
						<label for="price">Price</label>
						<input type="number" min="0" class="form-control" id="add_price" name="add_price" ng-model="book.price" autocomplete="nope" required>
						<span style="color:red" ng-show="myForm.add_price.$invalid">
					        <span ng-show="myForm.add_price.$error.required">Price is required.</span>
					      </span>
					</div>
					<div class="form-group">
						<label for="sel1">Select Author (select one):</label>
						<select class="form-control" id="add_author" name="add_author" ng-model="select_author" required>
							<option value="">Select an author -</option>
							<option ng-repeat="author in authors" value="{{author.id}}">{{author.firstName}} {{author.lastName}}</option>
						</select>
						<span style="color:red" ng-show="myForm.add_author.$invalid">
					        <span ng-show="myForm.add_author.$error.required">Please select author.</span>
					      </span>
						<br>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
				<button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="addBook(book)" ng-disabled="myForm.add_title.$invalid ||
  myForm.add_price.$invalid || myForm.add_publication_date.$error.required || myForm.add_author.$error.required " >Add</button>
			</div>
		</div>

	</div>
</div>
